
div#container {
    background-color: rgb(222, 233, 233);
    margin: auto;
    display: block;
    width: 900px;
    max-height: 100%;
    text-align: center;
}

.input {
    text-align: center;
    width: 900px;
    margin: auto;
    background-color: #8c54e6;
}
input {
    border: 1px solid lightblue ;
    width: 12cm;
}
label {
    background-color: rgb(207, 202, 202);
    display: block;
    text-align: left;
    margin: 2%;

}